.section-6 {
    // .section-6__container
    &__container {}
    // .section-6__title
    &__title {margin-bottom: 6.4rem;}
    // .section-6__list
    &__list {
        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            margin: 0 -10px;
        }
    }
    // .section-6__list-item
    &__list-item {
        display: flex;
        flex-direction: column;
    }
    // .section-6__list-top
    &__list-top {
        flex: 1 1 auto;
        background-color: var(--color-9);
        padding: 3rem;
    }
    // .section-6__list-date
    &__list-date {font: var(--font-7);margin-bottom: 8px;}
    // .section-6__list-label
    &__list-label {font: var(--font-5);margin-bottom: 16px;
        -webkit-line-clamp: 2;
    }
    // .section-6__list-description
    &__list-description {color: var(--color-2);

    }
    // .section-6__list-image
    &__list-image {
        padding-bottom: 57%;
    }
    // .section-6__list-img
    &__list-img {}
}

